* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.container {
    display: block;
    margin: 0 auto;
    max-width: 1170px;
}
header {
    position: relative;
    width: 100vw;
    max-height: 80px;
    
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
    z-index: 1;
}

.header_container_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* header :last-child {
    border-left: #EBEBF1    ;
    width: 1px;
    height: 80px;
    right: 148px;
    top: calc(50% - 80px/2);
} */
.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    max-width: 135px;
}
.logo .logo_item {
    align-items: center;
    height: 30px;
    margin-right: 10px;
}
.logo .logo_text {
    align-items: center;
    height: 18px;
}
.serch {
    display: inline-block;
    position: relative;
    align-items: center;
    width: 100%;
    max-width: 763px;
    height: 40px;
}
.serch .serch_input {
    display: block;
    max-width: 763px;
    width: 100%;
}
.serch input {
    padding-left: 39px;
    width: 100%;
    height: 40px;
    border: 1px solid #EBEBF1;
    box-sizing: border-box;
    border-radius: 5px;
    
}
.serch input::placeholder {
    color: #BBC4D6;
    font-weight: 400;
}
.serch .serch_icon {
    display: block;
    position: absolute;
    z-index: 2;
    top: 11px;
    left: 14px;
}
.serch .serch_icon:hover {
    cursor: pointer;
}
.avatar {
    display: flex;
    align-items: center;
}
.avatar::before {
    content: '';
    width: 1px;
    height: 80px;
    float: left;  
    position: relative; 
    right: 19px;
    top: calc(50% - 80px/2);

/* Основные / Серый светлый */

    background: #EBEBF1;
}
.avatar .avatar_text {
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    margin-right: 10px;
    color: #768298;
}
.avatar .avatar_photo {
    align-items: center;
    cursor: pointer;
}
.avatar .avatar_low {
    display: none;
}
.parthners {
    background-color: white;
}
.parthners .parthners_title {
    margin-top: 70px;
}
.parthners .parthners_title h1{
    display: block;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
}
.parthners .parthners_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.parthners .parthners_wrapper:after {
    content: '';
    flex-basis: 270px;
}

.parthners .parthners_wrapper .parthners_wrapper_item {
    width: 270px;
    height: 120px;
    border: 1px solid #EBEBF1;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    margin-top: 30px;
}
.parthners .parthners_wrapper .parthners_wrapper_item:hover {
    
    /* Основные / Большая тень */
    box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(164, 164, 164, 0.03);
    border-radius: 5px;
    border: 1px solid #EBEBF1;
    cursor: pointer;
}

.parthners .parthners_wrapper .parthners_wrapper_item img {
    display: block;
    margin: auto;
    align-items: center;
}